<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stupid-coaching</title>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <h1>Ask Questions to your coach</h1>

      <form action="/answer" method="get">
        <input type="text" name="question" placeholder="Type a question to ask the Coach">
        <input type="submit">
      </form>
    </div>
  </div>
</body>
</html>
